if ! find_up ./.venv/checkvenv.txt; then
    python3 -m venv .venv
    touch ./.venv/checkvenv.txt
fi
source ./.venv/bin/activate

if ! find_up ./.venv/spawnpoint.txt; then
    pip install .
    touch ./.venv/spawnpoint.txt
fi