path="./.venv"

if [ ! -d "$path" ]; then
    python3 -m venv .venv
fi
source "$path/bin/activate"

if [ ! -f "$path/.direnv" ]; then
    pip install --editable .
    pip install --editable '.[devtool]'
    touch "$path/.direnv"
fi

pre-commit install